- if articles.any?
  %ul#post-list
    - articles.each do |article|
      %li
        %a{href: article.url}
          %div= article.title
        - if article.data.teaser
          .teaser= teaser_for(article)
        .date= article.date.strftime('%e %B %Y')
- else
  %hr
