- if articles.any?
  %ul.post-list
    - articles.each do |article|
      %li
        %a{href: article.url}= article.title
        - if article.data.teaser
          %p.teaser= teaser_for(article)
        %p.date= article.date.strftime('%e %B %Y')
- else
  %hr
