%meta{charset: "utf-8"}
%meta{name: "viewport", content: "width=device-width, initial-scale=1"}
%title= page_title
%link{rel: "alternate", href: "/feed.xml", type: "application/atom+xml", title: "Atom Feed"}
%script{type: "application/ld+json"}
  != linking_data_for(locals, current_article, page_articles)
