.sharing
  %button.share{type: "button", article: current_article.title, style: "display:none;"}
    Share
    %i.ios.fa-solid.fa-arrow-up-from-bracket{style: "display:none;"}
    %i.aos.fa-solid.fa-share-nodes{style: "display:none;"}
