%link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/holiday.css@0.11.6"}
%script{src:"https://kit.fontawesome.com/e76ee0328c.js", crossorigin: "anonymous"}
-# @spec CUT-PROC-003
%link{rel: "stylesheet", href: "#{url_for '/stylesheets/v26.css'}"}
-# @spec CHROME-UI-001
%link{rel: "stylesheet", href: "https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,400;0,700;1,400&family=IBM+Plex+Serif:ital,wght@0,400;0,500;1,400&family=IBM+Plex+Mono:wght@400&display=swap"}
- if development?
  %link{rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css"}
