%link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/holiday.css@0.11.2"}
%script{src:"https://kit.fontawesome.com/e76ee0328c.js", crossorigin: "anonymous"}
%link{rel: "stylesheet", href: "#{url_for '/stylesheets/v23.css'}"}
- if development?
  %link{rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css"}
