// Single Article

article {
  .headline .info {
    font-weight: normal;
    color: var(--info-color);
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
  }

  .tags {
    font-style: italic;
  }

  .sharing {
    display: flex;
    justify-content: space-around;

    .icon {
      margin: 0 1rem;
    }

    i {
      font-size: 1.25rem;
    }

    .share {
      color: var(--icon-tab-color)
    }
  }

}

// Article Lists

ul.articles {
  list-style-type: none;
  padding: 0;

  li {
    margin: 1rem 0.5rem;
  }
}

.date {
  font-family: $font-family-body;
  color: var(--info-color);
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}