// Single Article

article {
  .with_sharing {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    .info {
      font-weight: normal;
      color: var(--info-color);
      font-size: 0.9rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      display: inline-block;
    }
  }

  .about {
    display: flex;
    justify-content: space-evenly;

    .tags {
      font-style: italic;
      flex-basis: 75%;
    }
  }

  .share {
    color: var(--icon-tab-color)
  }

  ul {
    padding-inline-start: 2rem;

    ul {
      padding-inline-start: 1.25rem;
    }
  }
}

// Article Lists

ul.articles {
  list-style-type: none;
  padding: 0;

  li {
    margin: 1rem 0.5rem;
  }
}

.date {
  font-family: $font-family-body;
  color: var(--info-color);
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}