@import "https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@700&family=IBM+Plex+Sans:wght@400;600&family=JetBrains+Mono&display=swap";

$holiday-font-family-base: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$holiday-font-family-base-code: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;

// Headings
$font-family-heading: Encode Sans SC + ", " + $holiday-font-family-base;
$font-heading-normal: 600;
$font-heading-bold: 800;

// Body Text
$font-family-body: IBM Plex Sans + ", " + $holiday-font-family-base;
$font-body-normal: 400;
$font-body-bold: 700;

// Code/Mono
$font-family-mono: JetBrains Mono + ", " + $holiday-font-family-base-code;

// Font colors
:root {
  // holiday light root colors
  --light-text-color: #666;
  --light-link-color: #3273dc;
  --light-link-visited-color: rebeccapurple;
  --light-link-hover-color: #363636;
  --light-link-active-color: #363636;

  // DWF additional light root colors
  --light-heading-color: #666;
  --light-tagline-color: #bbb;
  --light-info-color: #999;

  // holiday dark root colors
  --dark-text-color: #ccc;
  --dark-link-color: #90b3ed;
  --dark-link-visited-color: #cb93ff;
  --dark-link-hover-color: #fff;
  --dark-link-active-color: #fff;

  // DWF additional dark root colors
  --dark-heading-color: #ccc;
  --dark-tagline-color: lightsteelblue;
  --dark-info-color: lightsteelblue;
}

// DWF Dart/light switching
@media (prefers-color-scheme: light) {
  :root {
    --heading-color: var(--light-heading-color);
    --tagline-color: var(--light-tagline-color);
    --info-color: var(--light-info-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --heading-color: var(--dark-heading-color);
    --tagline-color: var(--dark-tagline-color);
    --info-color: var(--dark-info-color);
  }
}
