@media print {
  html {
    font-size: 12px;
  }

  .print-only {
    display: list-item;
  }

  .resume {
    padding: 0;
    color: black;

    h1, h2, h3, h4, h5 {
      break-after: avoid-page;
      page-break-after: avoid;
    }

    .tabs {
      display: none;
    }

    #tab1 ~ .panels #panel1,
    #tab2 ~ .panels #panel2,
    #tab3 ~ .panels #panel3,
    {
      cursor: default;
      display: block;
    }  }

  h1, h2, h3, h4, h5, body {
    color: black;
  }

  dl {
    break-before: avoid-page;
  }
}