// Resume

.resume {
  padding: 0 0.5rem;
  max-width: 100%;

  h1, h2, h3, h4 {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  h2 {
    border-bottom: #dfdfdf 1px solid;
    font-size: 1.5rem;
  }

  h3 {
    border-bottom: #dfdfdf 1px solid;
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  h3, h4 {
    display: flex;
    justify-content: space-between;
  }

  h2, h3, h4, dl {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  a {
    text-decoration: none;
  }

  dl {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  dt {
    font-weight: bold;
    margin-top: 10px;
  }

  dd {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    line-height: 1.4;
  }

  p {
    margin: 0.75rem 0.5rem 0 0.75rem;
    line-height: 1.3;
  }

  ul {
    padding-inline-start: 2rem;
    margin-top: 0.75rem;
    margin-bottom: 0;
    li {
      margin-bottom: 0;
    }
  }

  ul.social {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 0;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;

    li {
      font-size: 0.9rem;
      font-family: $font-family-body;
      margin: 0 0.5rem;
    }
  }

  .print-only {
    display: none;
  }

  .version {
    font-size: 0.8rem;
  }
}
