// Shared on all pages

body > nav {
  justify-content: flex-end;
}

.github-fork-ribbon.right-top.fixed:before { background-color: #399ed3; }

footer.site {
  padding-top: 0;
}

img.avatar {
  margin: 0.5rem 2rem;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #bbb;
  flex: 1 1;
}

.tagline {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #bbb;
  font-style: italic;
  font-weight: bold;
  font: $font-family-heading;
}

.intro {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

