-#
  ---
  title: 404 Not Found
  sitemap_ignore: true
  ---

%h1 404 Not Found
%hr

%p I cannot find that article, but here are some other things I have written or re-tweeted recently.

%p>
  Or just head back to the
  %a{href: "/"} home page
  \.
%a.twitter-timeline{href:"https://twitter.com/dwfrank?ref_src=twsrc%5Etfw"} Tweets by dwfrank
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
