---
sitemap_priority: 0.8
pageable: true
layout: layout
wrapper_class: all-tags
---

%h1
  All Article Tags

%ul
  - blog.tags.sort{|a,b| a.first <=> b.first}.each do |tag, articles|
    %li= link_to(tag, tag_url_for(tag)) +  " (#{articles.length})"
