---
sitemap_priority: 1.0
hide_nav: hidden
wrapper_class: home
---

= component "profile"

%h2 Recent Posts
= component "article_list", {articles: blog.articles[0..4]}

= component "series_list"

= component "categories"
