
%h1 Notion Templates

:markdown

  I'm a strong proponent of [Obsidian](https://obsidian.md) for personal journaling and note-taking. Enough that I have an [ongoing blog series about how I use it](/series/obsidian).

  But when a problem needs communal or collaborative documents, I've found that [Notion](https://notion.so) feels very comfortable for me and my brain. It's Markdown-friendly. It encourages cross-linking to other pages. And it adds enough structured data features that you can do some neat things for you and your teams. Notion can be rich pages that solve hard problems.

  Here are some of those pages, now available to buy and duplicate to your own Notion account.

%ul.cards
  %li.card
    %h2 1-1 Tracker

    %p
      Meeting notes for all of your regular 1-1's on one page, complete with centralized action items.

    :markdown
      I wrote about this more [here](/improved-1-1-note-taking/).

    .more
      %a{href:"https://bigpencilapp.gumroad.com/l/zfortz"}
        Buy at Gumroad
        %i.fa-solid.fa-chevron-right