%h1 Whisky Buddies Links

%ul
  %li= link_to "I tasted...", "https://airtable.com/shripJ9Gcv56Rs9g1"
  %li
    = link_to "Add a bottle...", "https://airtable.com/shrhmLA10P1uUH8Ch"
    %i add label photo later
  %li= link_to "Add a distillery...", "https://airtable.com/shryShY2YqRJ9OE0g"
  %li= link_to "AirTable", "https://airtable.com"
